html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* -------------------------------------Tabela---------------------------------------- */
th {
  font-family: Roboto;
}

td {
  font-family: Roboto;
}

#middle {
  text-align: center;
}
/* --------------------------------------Dropdown-------------------------------------- */

.dots {
  color: rgb(45, 204, 196);
  font-size: 1.4rem;
}

.Dropdown.Toggle::after {
  content: none;
}
